# =========== 前端 .dockerignore ===========
# Dependencies
node_modules

# Build outputs
dist
build

# Logs
logs
*.log
npm-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage

# Misc
*.local
.env
.env.local
.env.*.local
